* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../images/hero-img.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  align-items: center;
  align-self: center;
  font-size: 68px;
  font-weight: 600;
  background-image: linear-gradient(45deg, #4c87be, #368a33);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.hero-background {
  background-image: url("../images/hero-img.jpeg");
  background-size: cover;
  background-position: center;
  /* display: flex; */
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-text {
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: rgba(151, 145, 148, 0.41);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a {
  align-items: center;
  align-self: center;
}

.logo {
  border-radius: 50%;
  box-shadow: black 0 0 10px;
  height: 100px;
  max-width: 100px;
  padding: 0;
  width: 100px;
  border: 1px solid white;
}

.form {
  padding: 20px;
}

.form-background {
  background-color: rgba(151, 145, 148, 0.41);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-img {
  border-radius: 25px;
  box-shadow: black 0 0 10px;
}

.hotel-img {
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1442606383395-175ee96ed967?q=80&fm=jpg&s=5c8c74be9bc91b47c79a1aaf92264be5);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  height: 15vh;
  height: 200px;
  justify-content: space-between;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 400px;
  z-index: 0;
}

.title-is-2 {
  color: white;
  font-size: 70px;
}

.flights {
  display: flex;
  flex-wrap: wrap;
}

.flight-child {
  border-radius: 15px;
  color: whitesmoke;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.flights button {
  align-self: center;
  border-radius: 50px;
  text-align: center;
}

.flight-child button {
  margin-right: 15px;
}

.weather-icons {
  background: linear-gradient(
    90deg,
    rgba(50, 170, 247, 1) 0%,
    rgba(14, 130, 209, 1) 35%,
    rgba(0, 212, 255, 1) 75%
  );
  border-radius: 25px;
  box-shadow: black 0 0 10px;
}

.weather-format {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: whitesmoke;
}

.button {
  background-color: #ff3400;
  color: white;
  font-size: 15px;
  font-weight: 50px;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: solid;
  white-space: nowrap;
}

.hidden {
  display: none;
}

#ui-datepicker-div {
  background-color: #3e8ed0;
  border: 2px black solid;
  padding: 5px;
  width: 300px;
}

#ui-datepicker-div table {
  padding: 5px;
  width: 300px;
}

.ui-datepicker-header {
  font-size: 20px;
  text-align: center;
}

.ui-datepicker-header a {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.searchBorder {
  border: 1px solid black;
  background-color: #3e8ed0;
  border-radius: 10px;
  margin-top: 5px;
  color: white;
  padding: 10px;
  margin-right: 10px;
}

.modal {
  z-index: 9999;
}

/* Footer start */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.footer-format {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  font: bold 16px sans-serif;
  padding: 10px 10px;
}

/* The company logo */

.footer-format h3 {
  color: #0c0808;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-format h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-format .footer-links {
  color: #000000;
  padding: 0;
}

.footer-format .footer-links a {
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-format .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-format .footer-center i {
  background-color: #33383b;
  color: #080505;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-format .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-format .footer-center p {
  color: #000000;
  font-weight: 400;
  margin: 0;
}

.footer-format .footer-center p span {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-format .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-format .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: rgb(0, 0, 0);
  padding-right: 5px;
}

.footer-format .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-format .footer-company-about {
  line-height: 20px;
  color: #000000;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}



.footer-format .footer-company-about span {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-format .footer-icons {
  margin-top: 25px;
}

.footer-format .footer-icons a {
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer end /*

/* RESPONSIVE */

@media screen and (max-width: 900px) {
  header {
    justify-content: space-around;
    height: 150px;
    align-items: center;
  }

  .logo {
    height: 75px;
    width: 75px;
  }

  header h1 {
    font-size: 50px;
  }

  .nav-button {
    height: 40px;
    width: 90px;
    font-size: 12px;
    padding: 0 50px;
  }
}

@media screen and (max-width: 575px) {
  header {
    height: 140px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  header h1 {
    font-size: 30px;
  }

  .nav-button {
    height: 40px;
    width: 90px;
    font-size: 12px;
    padding: 0 50px;
  }
}

@media screen and (max-width: 440px) {
  .flight-child button {
    margin-right: 15px;
  }
}